@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.content{
    background-color: coral;
    width: 100%;
    height: 100vh;
}
.header{
    height: 60px;
    background-color: #fefefe;
    box-shadow: 0 0 10px 0px black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #5434dd;
    box-shadow: 2px 2px 2px 2px #f4f4f4;
    font-size: 36px;
    font-family: 'Supermercado One', cursive;
}