@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
.container{
    width: 90%;
    margin: 0px auto;
    min-height: 100%;
}
.header{
    height: 80px;
    background-color: #212121;
    box-shadow: 0 0 10px 0px black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    width: 50%;
    position: absolute;
    top: 30%;
    right: 5%;
}
.logo{
    color: #fefefe;
    font-size: 45px;
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 0 20px #8d39ec;
    position:absolute;
    top: 0;
    left: 0;
    padding: 10px 95px;
}
.logo::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 95px;
    z-index: -1;
    color: #8d39ec;
    filter: blur(15px);
}
.logo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7827e6;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}
.section{
    height: 100vh;
    padding-top: 60px;
}
.fon{
    width: 100%;
    height: 100vh;
    background-image: url;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    position: relative;
    z-index: -10;
}
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#works{
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
    background-color: #fefefe;
    height: 95vh;
}
.footer{
    height: 5vh;
    text-align: center;
    font-family: 'Bungee', cursive;
}